* {
    margin: 0;
  }

a {
color: black; 
text-decoration: none;
}

a:hover {
color: #5A64B8; 
}

.header {
    background-color: #5A64B8;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.icon {
    padding-left: 80px;
}

.title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
}

.undertitle {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 22px;
    padding-top: 20px;
    padding-left: 10px;
}

.container {
    display: grid;
    grid-template-columns:0fr 2fr 2fr 2fr;
    /*min-height: 100vh;*/
}

.pagetitle {
    grid-column: 2/-1;
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 5fr 40fr;
    background-color: #E5E8FF;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-name {
    grid-column: 2/-1;
    grid-row: 1;
    color: #5A64B8;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-left: 15px;
}

.fa-angle-left {
    padding-left: 15px;
    color: #5A64B8;
}

.pagetext {
    grid-column: 2 / -1;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left: 50px;
    padding-top: 10px;
}

.menu {
    grid-column: 1;
    grid-row: 1/5;
    background-color: #E5E8FF;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    width: 180px;
}

.search {
    background-color: #fafafa;
    padding: 5px;
    border-radius: 50px;
    font-style: italic;
    padding-left: 30px;
}

.searchicon {
    padding-left: 50px;
}

.Kurstitle {
    background-color: #ced2f0;
    padding: 20px;
    border-radius: 20px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

.kurs {
    font-size: 16px;
    font-weight: normal;
    padding-top: 5px;
}

.pagelinktitle {
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*Home Page*/

.all-articles {
    grid-column: 2/-1;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    padding-left: 50px;
    padding-top: 30px;
}

.article {
    padding: 10px;
    background-color: #e5e8ffa4;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 10px;
}

.article-image {
    height: 250px;
    width: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.image-text {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.article-image-small {
    height: auto;
    width: 150px;
    border-radius: 10px;
}

.old-article-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}


/*Course and Class Page*/

.course-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 250px;
    gap: 50px;
}

.course-image {
    height: 150px;
    width: 250px;
    border-radius: 3px;
    object-fit: cover;
}

.course-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}


/*Biology Page*/

.page-content {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.page-text {
    grid-column: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left: 50px;
    padding-top: 10px;
    line-height: 25px;
    margin-bottom: 15px;
}

.subheading {
    color: #5A64B8;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    grid-column: 1;
    padding-left: 50px;
    margin-top: 40px;
}

video {
    width: 100%;
    max-width: 500px; 
    display: grid; 
    grid-column: 1;
    margin-left: 50px;
    border-color: #5a63b888;
    border-style: double;
    border-radius: 5px;
}

.course-menu {
    grid-column: 3;
    grid-row: 1 / 10;
    background-color: #e5e8ffa4;
    padding: 20px;
    height: fit-content;
    width: 200px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 50px;
}

.content {
    text-align: center;
    background-color: #e5e8ff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color:#5A64B8;
    font-size: 30px;
    font-weight: bolder;
}

.course-list {
    padding-left: 0px;
}

.menu-list {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.molecule {
    object-fit: cover;
    height: 100px;
    margin-bottom: 30px;
    grid-column: 1;
    padding-left: 50px;
}

.big-molecule {
    grid-column: 3;
    grid-row: 8 / 20;
    margin-bottom: 30px;
}

.molecule-table {
    grid-column: 1;
    margin-left: 50px;
    width: 230px;
}


/*Class (Cell biology) Page*/

.videolectures-menu {
    grid-column: 3;
    grid-row: 1 / 10;
    background-color: #e5e8ffa4;
    padding: 20px;
    height: fit-content;
    width: 400px;
    border-radius: 10px;
    margin-top: 30px;
}

.video-list {
    padding-left: 0px;
}

.quote-box {
    grid-column: 1;
    margin-left: 50px;
    background-color:#e5e8ff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.quote {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-align: justify;
    padding: 10px;
}

.fa-quote-right {
    padding-left: 280px;
}

.vocab-list {
    grid-column: 1;
    grid-row: 10;
    columns: 2;
    margin-left: 70px;
    padding-left: 0px;
    padding-bottom: 20px;
}

.bullet-list{
    list-style-type: circle;
    padding-left: 0px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


/*Extra Page*/

.form {
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-top: 20px;
    margin-bottom: 430px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
    background-color: #5A64B8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .like-button {
    background-color: #5A64B8;
    color: #fff; 
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
  }
  
  .like-button:hover {
    background-color: #444b8b; 
  }
  
  
/*Footer*/

.footer {
    background-color: #5A64B8;
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.youtube-link {
    color: white;
    text-align: center;
    padding-bottom: 5px;
}

.youtube-link:hover {
    color: #ced2f0;
}

.footertext {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
}


/*Mobile size*/

@media (max-width: 1400px) {
    .products-grid, .container {
        grid-template-columns: 0fr 1fr 1fr 1fr;
    }
    .course-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width: 1100px) {
    .products-grid, .container {
        grid-template-columns: 0fr 1fr 1fr;
    }
    .course-container {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 770px) {
    .title {
        scale: 80%;
    }
    .undertitle {
        scale: 80%;
    }
    .products-grid, .container {
        grid-template-columns: 0fr 1fr;
    }
    .course-container {
        grid-template-columns: 1fr;
    }
    .all-articles {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 300px;
    }
    .article-image {
        max-width: 300px;
    }
    .course-menu {
        grid-column: 1;
        margin-bottom: 10px;
    }
    .big-molecule {
        grid-column: 1;
        grid-row: inherit;
        padding-left: 50px;
        padding-top: 20px;
    }
    .videolectures-menu {
        grid-column: 1;
        margin-left: 50px;
        width: 300px;
        margin-bottom: 20px;
    }
    .vocab-list {
        grid-row: auto;
    }
}

@media print {
    .videolectures-menu, .menu, .footer, .header  {
        display: none;
    }
}